
<button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-danger ms-3 mt-2">Cerrar sesión</button>
<div class="card m-3">
  <div class="card-header bg-dark text-light">
    Usuarios registrados
  </div>

  <div class="card-body">
    <button routerLink="/registrar-personas" class="btn btn-success mb-2">Registrar usuario</button>
    <table datatable [dtOptions]="dtOptions" class="row-border hover display responsive nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Contacto</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of jsonObject">
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.email}}</td>
          <td>{{item.direccion}}</td>
          <td>{{item.estado}}</td>
          <td>{{item.rol}}</td>
          <td><button [routerLink]="['/registrar-personas']" (click)="editarPersona(item)" class="btn btn-warning text-light"><i class="fas fa-edit"></i></button> &nbsp; <button class="btn btn-danger text-light"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
