
<button [routerLink]="['../login']" routerLinkActive="router-link-active"  class="btn btn-danger ms-3 mt-2">Cerrar sesión</button>
<div class="card m-3">
  <div class="card-header bg-dark text-light">
    Usuarios registrados
  </div>

  <div class="card-body">
    <button [routerLink]="['../registrar-personas']" class="btn btn-success mb-2">Registrar usuario</button>
    <table *ngIf="ObjectPersonas" datatable [dtOptions]="dtOptions" class="row-border hover display responsive nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Contacto</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Estado</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of ObjectPersonas">
          <td>{{item._nombre}}</td>
          <td>{{item._apellido}}</td>
          <td>{{item._telefono}}</td>
          <td>{{item._email}}</td>
          <td>{{item._direccion}}</td>
          <td>{{item._estado}}</td>
          <td>{{item._rol}}</td>
          <td><button [routerLink]="['../registrar-personas/'+ item.id]" (click)="editarPersona(item)" class="btn btn-warning text-light"><i class="fas fa-edit"></i></button> &nbsp; <button (click)="eliminarPersona(item.id)" class="btn btn-danger text-light"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
