<div>

<div class="row" >
  <div class="card mt-5 h-100 container col-xs-12 col-sm-10 col-md-8 col-lg-4 m-auto">
    <div class="card-body h-100">
      <section class="text-center">
        <span class="fs-3">Ingreso al sistema</span>
        <br>
        <img src="../../../admin-personas/assets/seleccionar.png" width="30%" alt="">
        <p class="mt-2">Ingrese las credenciales del usuario</p>
      </section>

      <section class="text-center">

      <form>

        <div class="input-group mt-3 mb-3">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input type="text" required class="form-control" placeholder="Ingrese su usuario" value="admin"
          disabled>
        </div>

        <div class="input-group mt-3 mb-3">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
          <input type="password" required class="form-control" placeholder="Ingrese su contraseña" value="admin" disabled>

          </div>

        <button [routerLink]="['../listar-personas']" type="submit" class="btn btn-success">Ingresar</button>
      </form>
    </section>
  </div>
  </div>

</div>

</div>

